.contact {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 50px auto;

    background-image: var(--image-background-contact-form);

    z-index: 0;
}
    .contact::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--color-shadow);
        z-index: -1;
    }
.contact__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding: 2em 2em;

    z-index: 2;
}
.contact__information ul {
    padding: 1em 3em;
}
.contact__information ul li {
    position: relative;

    display: flex;
    align-items: center;

    padding: 10px 10px;
}
    .contact__information ul li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 120px;
        height: 3px;
        background: var(--color-main);
    }
.contact__information ul li i {
    font-size: 32px;
    margin-right: 15px;
}
.contact__information_item p {
    font-size: 20px;
    padding: 5px 5px;
}
.contact__information_item span {
    font-size: 17px;
    padding: 7px 5px;
    
}
.contact__information_item p, 
.contact__information_item span {
    color: var(--color-font-white);
    letter-spacing: 2px;
}


/* Contac user form */
.contact__user_form {
    position: relative;
    padding: 0.3em 1em;
}
    .contact__user_form::after {
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        width: 2px;
        height: 100%;
        background: var(--color-main);
    }
.contact__user_form_row {
    display: flex;
    flex-direction: column;

    margin: 20px 0 auto;
}
.contact__user_form_row label {
    font-size: 18px;
    padding: 5px 10px;
    color: var(--color-font-white);
}
.contact__user_form_row input {
    width: 100%;

    border: none;
    cursor: pointer;

    letter-spacing: 2px;
    font-size: 17px;
    color: var(--color-font-white);

    background: var(--color-shadow-medium-light);

    padding: 1em 2em 1em 1em;
    border-radius: 3px;
}
    .contact__user_form_row input:focus,
    .contact__user_form_row textarea:focus
    {
        outline: none;
        background: var(--color-shadow-light);
        box-shadow: 1px 1px 5px #fefefe5d;
    }

.contact__user_form_row button {
    width: 180px;
    padding: 1em 1em;

    border: none;
    border-radius: 6px;
    background: var(--color-font-white);

    margin: 0 auto ;
}
.contact__user_form_row p {
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-main);
}



@media (max-width: 890px) {
    .contact__information ul {
        padding: 0.5em 1.5em;
    }
    .contact__information_item p {
        font-size: 14px;
    }
    .contact__information_item span {
        font-size: 12px;
    }
    .contact__user_form::after {
        display: none;
    }

    .contact__user_form_row input {
        font-size: 15px;
    }
    .contact__user_form_row label {
        font-size: 15px;
    }
}